:root{
    --notification-color: #8EDAFC;
    --bg-color: #DBDBD3;
    --bg-header: #009688;
    --main-header-color: #EAEAEA;
    --main-secondary-text-color: #B1B1B1;
    --main-primary-text-color: #000000;
    --message-bar-color: #F3EEEA;
    --message-sent-bg: #D5F9BA; 
}

/* #region background */

.fluid-header{
    background-color: var(--bg-header);
    height: 15vh;
}
.fluid-main{
    background-color: var(--bg-color);
    height: 85vh;
    
}

/* #endregion background */

/* #region common */
.header{
    background-color: var(--main-header-color);
    height: 60px;
    margin-top: 1.5rem;
}

/* #endregion common */

/* #region left-column */

.notification{
    background-color: var(--notification-color);
    height: 65px;
}

.search{
    background-color: #ffffff;
    height: 55px;
}
.chat{
    background-color: #ffffff;
    height: 60px;
}

/* #endregion left-column */