:root{
    --notification-color: #8EDAFC;
    --bg-color: #DBDBD3;
    --bg-header: #009688;
    --main-header-color: #EAEAEA;
    --main-secondary-text-color: #B1B1B1;
    --main-primary-text-color: #000000;
    --message-bar-color: #F3EEEA;
    --message-sent-bg: #D5F9BA; 
    --message-received-bg: white;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* #region background */

.fluid-header{
    background-color: var(--bg-header);
    height: 15vh;
}
.fluid-main{
    background-color: var(--bg-color);
    height: 85vh;
    
}

/* #endregion background */

/* #region common */
.header{
    background-color: var(--main-header-color);
    height: 60px;
    margin-top: 1.5rem;
}
.chat-text>.last-message, .chat-time, .fa-circle-notch, .fa-message, .fa-ellipsis-vertical, .fa-face-smile, .fa-microphone{
    color: var(--main-secondary-text-color);
}

.avatar-img>img{
    height: 46px;
    width: 46px;
    border-radius: 100%;
}

.active{
    background-color: #EEEFEF!important;
}


/* #endregion common */

/* #region left-column */

.notification{
    background-color: var(--notification-color);
    height: 65px;
}
.notification-text{
    margin-left: -1rem;
}
.notification .last-message{
    color: var(--main-secondary-text-color);
    font-size: smaller;
    text-decoration: underline;
    cursor: pointer;
}

.fa-bell-slash{
    background-color: white;
    padding: 1rem;
    border-radius: 100%;
    color: var(--notification-color);
}
.col-4 .fa-circle-notch{
    margin-right: -2rem;
}
.col-4 .fa-message{
    margin-right: -2rem;
}

.search{
    background-color: #ffffff;
    height: 55px;
    color: var(--main-secondary-text-color);
    padding-left: 1rem;
}
.header .avatar-img{
    margin-left: -0.2rem;
    margin-right: -1.5rem;
}
.header .name-chat{
    margin-left: -2.5rem;
}


/* #region chat */
.chats, .main-chat {
    overflow-y: scroll;
}
.chat-preview{
    background-color: white;
    height: 60px;
    padding-left: 2rem;
    position: relative;
}
.chat-preview .chat-text{
    padding-left: 4.5rem;
}
.chat-preview .chat-time{
    position: absolute;
    top: 7px;
    right: 7px;
}
.chat{
    width: calc(100% / 2);
    height: 50px!important;
    position: relative;
    padding-left: 0.8rem;
}
.chat>span{
    color: var(--main-secondary-text-color);
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.sent_message{
    align-self: flex-end;
    background-color: var(--message-sent-bg);
    border-radius: 0.5rem;
    
}
.received_message{
    
    background-color: var(--message-received-bg);
    border-radius: 0.5rem;
}

.avatar-img{
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.chat-text{
    padding-right: 1rem;
    margin-left:-4rem
}

.chats img{
    margin-left: -1rem;
}
.chat:hover{
   background-color: #EEEFEF; 
}
/* #endregion chat */


/* #endregion left-column */


/* #region main */

.main-chat{
    background-image: url('../img/mine.jpg');
    height: calc(60px * 9);
}
.footer{
    height: 60px;
    background-color: var(--message-bar-color)
}

.input-text{
    width: 82%;
    height: 45px;
}

.col-8{
   position: relative;
}
.col-8 .chat-text{
    margin-left: 2.5rem;
}
.col-8 img{
    margin-left: 1rem;
}
.col-8 .icons{
    position: absolute;
    top: 2.5rem;
    right: 2rem;
}

.col-8 .avatar-img{
    margin-left: 1rem;
}
/* #endregion main */